<ion-header>
  <ion-toolbar color="white">
      <ion-buttons slot ="start">
          <ion-back-button defaultHref="/pages/idea-details"></ion-back-button>
      </ion-buttons>
    <ion-title> 정보 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
    <ion-label position="stacked">제목</ion-label>
    {{info.name}}
    </ion-item>

    <ion-item>
        <img src = {{info.pic}} > 
    </ion-item>
 
    <ion-item lines = "10">
            <ion-label position="stacked">내용</ion-label>
        {{info.notes}}
    </ion-item>
</ion-content>

