<ion-header>
  <!-- <ion-toolbar>
    <ion-title>
      게시판
    </ion-title>
  <ion-button >
    <ion-icon slot="icon-only"name="search"></ion-icon>
  </ion-button>
  </ion-toolbar> -->


  <ion-toolbar>
      <ion-buttons slot="secondary">
          <ion-button >
              <ion-icon slot="icon-only" name="funnel"></ion-icon>
            </ion-button>
       
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button >
          <ion-icon slot="icon-only" ios="ios-search" md="md-search"></ion-icon>
        </ion-button>
        <ion-button >
            <ion-icon slot="icon-only" ios="ios-create" md="md-create"></ion-icon>
          </ion-button>
         
      </ion-buttons>
      <ion-title>게시판</ion-title>
    </ion-toolbar>


  <ion-segment (ionChange)="segmentChanged($event)" >
      <ion-segment-button value="help">
      <ion-label>위탁</ion-label>
      </ion-segment-button>
      <ion-segment-button value="give">
          <ion-label>분양</ion-label>
          </ion-segment-button>
    </ion-segment>

</ion-header>

<ion-content>
  <ion-card>

    <ion-row>
      <ion-col col-3>
        <!-- <ion-avatar item-start> -->
          <img src="/assets/una.jpg">
        <!-- </ion-avatar> -->
      </ion-col>
      <ion-col col-7>
          <ion-card-header>
           
            </ion-card-header>
            <ion-card-content>
                dsdf
            </ion-card-content>
      </ion-col>
      <ion-col col-2>

      </ion-col>
    </ion-row>
   <!-- <ion-row>
      <ion-col col-2>
          <ion-icon name= "heart"></ion-icon>
        </ion-col>
   </ion-row> -->
  </ion-card>



  
</ion-content>
