<ion-header>
  <ion-toolbar color = "primary">
      <!-- <ion-buttons slot="secondary">
          <ion-button >
            
              <ion-icon slot="icon-only" name="funnel"></ion-icon>
            
            </ion-button>
      </ion-buttons> -->
      <ion-buttons slot="primary">
        <ion-button >
          <ion-icon slot="icon-only" ios="ios-search" md="md-search"></ion-icon>
        </ion-button>
        <ion-button (click)="goCreatePost()" >
            <ion-icon slot="icon-only" ios="ios-create" md="md-create"></ion-icon>
          </ion-button>
         
      </ion-buttons>
      <ion-title>게시판</ion-title>
    </ion-toolbar>


  <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)" >
      <ion-segment-button value="help">
      <ion-label>위탁</ion-label>
      </ion-segment-button>
      <ion-segment-button value="give">
          <ion-label>분양</ion-label>
          </ion-segment-button>
    </ion-segment>

</ion-header>

<ion-content>
  <ion-col *ngFor="let item of items; let writer of writerInfo;let gu of writerGu;let dong of writerDong" col-12 no-padding>
    <!-- <ion-card  (click)="getPost(item)">
      <ion-card-content>

      </ion-card-content> -->
      <ion-card (click)="getPost(item)" class="card" >
          <img src="{{item.img}}" width="100px" height="150px"/>
          <ion-card-content >
                   <ion-row>
                    <ion-col width-100><h1>{{item.title}}  </h1> </ion-col> 
                    <!-- <ion-col width-100><h1>{{item.title}}  </h1> </ion-col>    -->
                  </ion-row>
                    <ion-row>
                      <ion-col width-30><h4>{{item.regisGu}}&nbsp;{{item.regisDong}} </h4></ion-col>
                    </ion-row>
          </ion-card-content>




    </ion-card>
  
  </ion-col>
  
</ion-content>
