<ion-header>
  <ion-toolbar>
    <ion-title>
      설냥
    </ion-title>
    <div align="right" *ngIf="userid == null">
     <!-- <button class="butn" [routerLink]="['/login']" routerDirection="forward">로그인</button><br>-->
    
    </div>
    <div align="right" *ngIf="userid != null">
      <table>
        <tbody align="center">
        <tr>
         <!-- <ion-avatar>
                <img src="../../../assets/icon/favicon.png">
          </ion-avatar>
        </tr>
        <tr>{{userid}}</tr>
        <tr>
          <button class="butn" (click)="logout()">로그아웃</button>-->
        </tr>
      </tbody>
    </table>
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content>
    설냥이에오
    <ion-button (click)="map()">우리동네 동물병원</ion-button>
</ion-content>
