<ion-header>
  <ion-toolbar>
    <ion-title>
      설냥
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<section *ngIf="userauth=='일반사용자'; else admin">
    <ion-button (click)="goInform()">제보하러가기</ion-button>
  </section>-->
  <section *ngIf="userauth==null; else admin">
      <ion-button (click)="goInform()">제보하러가기</ion-button>
    </section>
  <ng-template #admin>
      <section *ngIf="userauth=='일반사용자'">
          <ion-button (click)="goInform()">제보하러가기</ion-button>
      </section>
      <section *ngIf="userauth=='관리자'">
        <ion-button (click)="checkInform()">제보확인</ion-button>
      </section>
    </ng-template>
    <ion-button (click)="goMap()">우리동네 동물병원</ion-button>
    <ion-button (click)="goDevelop()" >
      재개발 지역 한 눈에 보기</ion-button>
<table>
  <tr>
<td><img src="../../assets/button.png" (click)="goDevelop()"></td>
<td><img src="../../assets/button.png" (click)="goDevelop()"></td>    
  </tr>
  <tr>
      <td><img src="../../assets/button.png" (click)="goDevelop()"></td>
      <td><img src="../../assets/button.png" (click)="goDevelop()"></td>    
  </tr>
</table>

</ion-content>
