<ion-header>
  <ion-toolbar color = "primary">
    <ion-title style="text-align: center">
      
      <img width=100px; src = "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%ED%83%80%EC%9D%B4%ED%8B%80.png?alt=media&token=5dc3cd5c-d435-4eea-939c-c2c27e08c293"/>
      
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id = "wrapper">
    <!--
  <div style="text-align: center; margin-top: 10px; margin-bottom: 20px"><img width=200px; src = "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/logo.png?alt=media&token=c8538726-6d92-461f-8dc4-02322ec7252c"/></div>
    -->  
  <div  id = "mapimg">
      <div style="position: absolute;"><!--강남 빨노초-->
        <div style="position: relative;"><img class = "m-size" id="GN_R" src = "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B0%95%EB%82%A8_%E3%85%83.png?alt=media&token=477e4e4f-518a-4d22-8022-d5453a76d0a8"/>
        </div>  
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id="GN_Y" src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B0%95%EB%82%A8_%E3%84%B4.png?alt=media&token=256a06e4-7af0-4184-9af6-c3d02b5c12f7"/>
        </div>  
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id ="GN_G" src="https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B0%95%EB%82%A8_%E3%85%8A.png?alt=media&token=e6c39134-9946-4de9-8841-c196acad5c86"/>
        </div>  
      </div>
      <div style="position: absolute;"><!--강동-->
        <div style="position: relative;"><img class = "m-size" id = "GD_R" src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B0%95%EB%8F%99_%E3%85%83.png?alt=media&token=79aa3915-a4b7-4eb1-abc1-a2c7f1d9e7e0"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GD_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B0%95%EB%8F%99_%E3%84%B4.png?alt=media&token=85d25dcd-496c-4ba4-92bc-fcabe3617b1b"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GD_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B0%95%EB%8F%99_%E3%85%8A.png?alt=media&token=a8c60a7f-9156-4303-9196-2f645925f8cf"/>
        </div>  
      </div>
      <div style="position: absolute;"><!--강북-->
        <div style="position: relative;"><img class = "m-size" id = "GB_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B0%95%EB%B6%81_%E3%85%83.png?alt=media&token=7f6c2ab7-b596-4878-8291-8951a958eca1"/>
        </div>  
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GB_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B0%95%EB%B6%81_%E3%84%B4.png?alt=media&token=26e9ae74-95c2-44d9-934a-a3909f0cefda"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GB_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B0%95%EB%B6%81_%E3%85%8A.png?alt=media&token=649d2582-afbd-4ecc-858f-369b519bcff1"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--강서-->
        <div style="position: relative;"><img class = "m-size" id = "GS_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B0%95%EC%84%9C_%E3%85%83.png?alt=media&token=e017cfc3-644a-4946-b263-4423db73c6b7"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GS_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B0%95%EC%84%9C_%E3%84%B4.png?alt=media&token=f3c7aa05-8e73-48c2-8655-238b29864158"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GS_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B0%95%EC%84%9C_%E3%85%8A.png?alt=media&token=7c13e548-cbfa-48ac-9ab0-e5a7bcde52eb"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--관악-->
        <div style="position: relative;"><img class = "m-size" id = "GA_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B4%80%EC%95%85_%E3%85%83.png?alt=media&token=d5b6e2ca-1d24-4d33-948c-57fd40c766b2"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GA_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B4%80%EC%95%85_%E3%84%B4.png?alt=media&token=0ebe99aa-0726-41c5-b0cc-85986c8a2905"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GA_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B4%80%EC%95%85_%E3%85%8A.png?alt=media&token=0e36a484-e9bd-4c5d-9e4f-0cc2b1b0ac37"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--광진-->
        <div style="position: relative;"><img class = "m-size" id = "GJ_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B4%91%EC%A7%84_%E3%85%83.png?alt=media&token=645a67dc-6a78-46a7-a94d-f8972ca0db69"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GJ_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B4%91%EC%A7%84_%E3%84%B4.png?alt=media&token=841d4258-c323-48a8-b46e-372a1b26832d"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GJ_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B4%91%EC%A7%84_%E3%85%8A.png?alt=media&token=17acede4-776e-4eb1-9ad9-5efc4be880eb"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--구로-->
        <div style="position: relative;"><img class = "m-size" id = "GR_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B5%AC%EB%A1%9C_%E3%85%83.png?alt=media&token=ba1f1c41-e35e-4ee7-9339-010f7ccf3a25"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GR_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B5%AC%EB%A1%9C_%E3%84%B4.png?alt=media&token=85756f03-3fc5-4aac-8b38-8990774a8e1e"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GR_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B5%AC%EB%A1%9C_%E3%85%8A.png?alt=media&token=b4e28757-165d-4faf-b406-41b37b9ebab1"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--금천-->
        <div style="position: relative;"><img class = "m-size" id = "GC_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B8%88%EC%B2%9C_%E3%85%83.png?alt=media&token=8bd21d4d-7cbf-4c88-ab94-3178f950154c"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GC_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B8%88%EC%B2%9C_%E3%84%B4.png?alt=media&token=f5b71e24-4e0d-4a3d-8f49-d9c0228e99c7"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "GC_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B8%88%EC%B2%9C_%E3%85%8A.png?alt=media&token=1b9bdefb-0862-4405-9fe8-43b1f93a80b6"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--노원-->
        <div style="position: relative;"><img class = "m-size" id = "NW_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%85%B8%EC%9B%90_%E3%85%83.png?alt=media&token=c79a7fac-1428-4333-b79c-e493a4928170"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "NW_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%85%B8%EC%9B%90_%E3%84%B4.png?alt=media&token=a4120f3d-9b23-430c-86ae-3c8759b598e5"/>
        </div>
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "NW_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%85%B8%EC%9B%90_%E3%85%8A.png?alt=media&token=06489483-8bb0-4483-b3c5-886655afb38e"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--도봉-->
        <div style="position: relative;"><img class = "m-size" id = "DB_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%8F%84%EB%B4%89_%E3%85%83.png?alt=media&token=a19e6d27-f501-4c02-b32c-07c58d0c8e21"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "DB_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%8F%84%EB%B4%89_%E3%84%B4.png?alt=media&token=c8b3317b-1f2c-4700-a933-133c33502245"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "DB_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%8F%84%EB%B4%89_%E3%85%8A.png?alt=media&token=092c366e-b70c-40e3-8475-79555e278bc4"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--동대문-->
        <div style="position: relative;"><img class = "m-size" id = "DDM_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%8F%99%EB%8C%80%EB%AC%B8_%E3%85%83.png?alt=media&token=9a862a44-d3b6-47de-bb87-c0508acded7d"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "DDM_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%8F%99%EB%8C%80%EB%AC%B8_%E3%84%B4.png?alt=media&token=483aaf1a-261e-4cce-b9b9-e4d8143b18b2"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "DDM_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%8F%99%EB%8C%80%EB%AC%B8_%E3%85%8A.png?alt=media&token=c5853420-372f-41af-9086-32697516d479"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--동작-->
        <div style="position: relative;"><img class = "m-size" id = "DJ_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%8F%99%EC%9E%91_%E3%85%83.png?alt=media&token=4c02d364-cc6c-4e0d-83f3-c847445a1762"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "DJ_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%8F%99%EC%9E%91_%E3%84%B4.png?alt=media&token=9cbb4ce0-18db-4cc3-9b9f-6cf1d509a673"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "DJ_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%8F%99%EC%9E%91_%E3%85%8A.png?alt=media&token=2e5169c3-d66c-4280-9cff-a188b07b8043"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--마포-->
        <div style="position: relative;"><img class = "m-size" id = "MP_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%A7%88%ED%8F%AC_%E3%85%83.png?alt=media&token=0308b4ea-f19a-4f63-b3d0-5f4a731e6560"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "MP_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%A7%88%ED%8F%AC_%E3%84%B4.png?alt=media&token=b10436ca-5ad2-4c07-a3a2-8e883f3051d2"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "MP_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%A7%88%ED%8F%AC_%E3%85%8A.png?alt=media&token=53796dd6-ff2a-49fb-a44f-6e9c6430a419"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--서대문-->
        <div style="position: relative;"><img class = "m-size" id = "SDM_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%84%9C%EB%8C%80%EB%AC%B8_%E3%85%83.png?alt=media&token=7b1395a6-ac74-455d-b60a-35ca980795b4"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "SDM_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%84%9C%EB%8C%80%EB%AC%B8_%E3%84%B4.png?alt=media&token=d852472b-0dc1-439a-85af-8a8f418960fd"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "SDM_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%84%9C%EB%8C%80%EB%AC%B8_%E3%85%8A.png?alt=media&token=cb9a3402-a623-454f-aabd-4b39455f26f6"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--서초-->
        <div style="position: relative;"><img class = "m-size" id = "SC_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%84%9C%EC%B4%88_%E3%85%83.png?alt=media&token=93ed775e-1907-4e89-9892-0574bd85c643"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "SC_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%84%9C%EC%B4%88_%E3%84%B4.png?alt=media&token=87201f0c-1ab9-4774-8bd1-411ef4fe6ba7"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "SC_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%84%9C%EC%B4%88_%E3%85%8A.png?alt=media&token=48f5d47a-632c-44ff-9ff4-a4143bb98ef6"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--성동-->
        <div style="position: relative;"><img class = "m-size" id = "SD_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%84%B1%EB%8F%99_%E3%85%83.png?alt=media&token=36dfe76d-2d26-4ae6-8f94-954be3eb98ae"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "SD_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%84%B1%EB%8F%99_%E3%84%B4.png?alt=media&token=ab7a8618-ad54-4b97-963f-ddcf1c5c3888"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "SD_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%84%B1%EB%8F%99_%E3%85%8A.png?alt=media&token=bb8c0fa9-840d-4a93-ab75-971d3c456ed0"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--성북-->
        <div style="position: relative;"><img class = "m-size" id = "SB_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%84%B1%EB%B6%81_%E3%85%83.png?alt=media&token=ad6cdf14-13c1-4fcf-9896-39e50e195195"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "SB_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%84%B1%EB%B6%81_%E3%84%B4.png?alt=media&token=405acd7f-43f7-4e21-96b6-59a97a069a96"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "SB_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%84%B1%EB%B6%81_%E3%85%8A.png?alt=media&token=4ab54c41-46c6-4059-841d-be0a48875a8c"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--송파-->
        <div style="position: relative;"><img class = "m-size" id = "SP_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%86%A1%ED%8C%8C_%E3%85%83.png?alt=media&token=1e38e337-c217-4dc1-9108-ddaadd708fd9"/>
        </div>
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "SP_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%86%A1%ED%8C%8C_%E3%84%B4.png?alt=media&token=812d4306-31f6-47ad-9ab1-42a55920b0de"/>
        </div>
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "SP_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%86%A1%ED%8C%8C_%E3%85%8A.png?alt=media&token=b5a274fe-ddfe-44c4-92f7-5a985e1b6643"/>
        </div>  
      </div>
      <div style="position: absolute;"><!--양천-->
        <div style="position: relative;"><img class = "m-size" id = "YC_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%96%91%EC%B2%9C_%E3%85%83.png?alt=media&token=5848a3f5-ab91-4a29-ba9d-1edb6a1821fa"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "YC_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%96%91%EC%B2%9C_%E3%84%B4.png?alt=media&token=51b2697d-b46d-4ada-bbac-5a682e8a00e2"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "YC_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%96%91%EC%B2%9C_%E3%85%8A.png?alt=media&token=81303dbd-d620-4575-b009-9ff1b22ce0ed"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--영등포-->
        <div style="position: relative;"><img class = "m-size" id = "YDP_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%98%81%EB%93%B1%ED%8F%AC_%E3%85%83.png?alt=media&token=1ed66c38-fb03-49f4-807a-679f04f646e2"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "YDP_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%98%81%EB%93%B1%ED%8F%AC_%E3%84%B4.png?alt=media&token=23202669-8ef8-4c55-b013-87db059a0f2f"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "YDP_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%98%81%EB%93%B1%ED%8F%AC_%E3%85%8A.png?alt=media&token=6413d301-735b-435c-8e68-ffae1a1786b7"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--용산-->
        <div style="position: relative;"><img class = "m-size" id = "YS_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%9A%A9%EC%82%B0_%E3%85%83.png?alt=media&token=86980a6e-5948-4c95-abc0-065e3515b368"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "YS_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%9A%A9%EC%82%B0_%E3%84%B4.png?alt=media&token=8c96da7f-94ff-435c-95bf-cbb0eca75a2e"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "YS_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%9A%A9%EC%82%B0_%E3%85%8A.png?alt=media&token=7a872837-5109-4807-a055-e43e1485534a"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--은평-->
        <div style="position: relative;"><img class = "m-size" id = "EP_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%9D%80%ED%8F%89_%E3%85%83.png?alt=media&token=6ad7691b-8c14-4b1e-a485-62eeb2992cf8"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "EP_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%9D%80%ED%8F%89_%E3%84%B4.png?alt=media&token=aeff23ae-896f-4b97-a95a-63ae532a7308"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "EP_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%9D%80%ED%8F%89_%E3%85%8A.png?alt=media&token=04745659-7b7b-4ef2-a3f5-77ce6c1b68e6"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--종로-->
        <div style="position: relative;"><img class = "m-size" id = "JR_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%A2%85%EB%A1%9C_%E3%85%83.png?alt=media&token=5fec6ce9-f090-4a2e-9eb9-113a3b5da5dd"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "JR_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%A2%85%EB%A1%9C_%E3%84%B4.png?alt=media&token=511a9a9b-1607-4629-b34f-9ea835c11244"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "JR_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%A2%85%EB%A1%9C_%E3%85%8A.png?alt=media&token=255beaff-6403-407a-9752-fcffcf1f1920"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--중구-->
        <div style="position: relative;"><img class = "m-size" id = "JG_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%A4%91%EA%B5%AC_%E3%85%83.png?alt=media&token=1504fd23-3916-47e5-b396-7d2b945c8413"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "JG_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%A4%91%EA%B5%AC_%E3%84%B4.png?alt=media&token=8dfcf00b-83c0-4096-aa98-8073460a2339"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "JG_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%A4%91%EA%B5%AC_%E3%85%8A.png?alt=media&token=8c677ee1-d7c6-4899-806e-84039555ff24"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--중랑-->
        <div style="position: relative;"><img class = "m-size" id = "JL_R"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%A4%91%EB%9E%91_%E3%85%83.png?alt=media&token=1d9f7312-77aa-4711-a069-9b5d96d16150"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "JL_Y"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%A4%91%EB%9E%91_%E3%84%B4.png?alt=media&token=559bc613-289d-4cd0-abf2-f12ae78eb17b"/>
        </div> 
      </div>
      <div style="position: absolute;">
        <div style="position: relative;"><img class = "m-size" id = "JL_G"src= "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EC%A4%91%EB%9E%91_%E3%85%8A.png?alt=media&token=d599dc0d-d76e-4468-9578-964b95241c69"/>
        </div> 
      </div>
      <div style="position: absolute;"><!--구이름-->
        <div style="position: relative;"><img class = "m-size" src = "https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EA%B5%AC%EC%9D%B4%EB%A6%84.png?alt=media&token=8e486032-5149-4760-85c5-581f5f8201ab"/>
        </div>  
      </div>
    </div>
  
    <div id = "buttonimg">
      <img class = "b-size" src="https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%B2%84%ED%8A%BC-%EC%A0%9C%EB%B3%B4%ED%95%98%EB%9F%AC%EA%B0%80%EA%B8%B0.png?alt=media&token=6e3ebc74-ca52-43a5-8a86-4c83c39767dc"
      (click) = "goInform()">
      <img class = "b-size" src="https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%B2%84%ED%8A%BC-%EC%9A%B0%EB%A6%AC%EB%8F%99%EB%84%A4%EB%8F%99%EB%AC%BC%EB%B3%91%EC%9B%90.png?alt=media&token=373c55ce-a449-4737-a9c8-8c0e0612eb2d" 
      (click)="goMap()" >
      <img class = "b-size" src="https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%B2%84%ED%8A%BC-%EC%9E%AC%EA%B0%9C%EB%B0%9C%EC%A7%80%EC%97%AD%ED%95%9C%EB%88%88%EC%97%90%EB%B3%B4%EA%B8%B0.png?alt=media&token=348a20c3-f3ad-4b9e-a0e7-2517e4ad6e00" 
      (click)="goDevelop()" >
      <img class = "b-size" src="https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/appimg%2F%EB%B2%84%ED%8A%BC-%EC%B2%98%EB%A6%AC%ED%98%84%ED%99%A9%EB%B3%B4%EA%B8%B0.png?alt=media&token=874ae7ae-3c6d-4bd1-a470-647e543bc9c5" 
      (click)="goProgress()" >
    </div>
  </div>
</ion-content>
