.chatting{
    display:flex;
    flex-direction:column;
    .you{
        //margin:10px;
        width:100%;
        height:54px;
        align-self:flex-start;
        font-size:20;
        text-align:center;
        line-height:3;

        .userimg{
            width:20%;           
        }
        .content{
            width:70%;
        }
    }
}
