<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      채팅
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <div class="chatting" *ngFor="let chatting of chattingRef | async">
        <div  class="you" ion-item *ngIf="ID==chatting.uid1" (click)="openChat(chatting.uid2)">
            <img class="imgde" src="{{chatting.uid2Pic}}"/>
              <div class="cname">{{chatting.uid2}}</div>
        </div>

        <div class="you" ion-item *ngIf="ID==chatting.uid2" (click)="openChat(chatting.uid1)">
            <img class="imgde" src="{{chatting.uid2Pic}}"/>
            <div class="cname">{{chatting.uid1}}</div>
        </div>

        <!--<div  class="you" ion-item *ngIf="ID==chatting.uid2">
            <div class="userimg">
              <img width="50px" height="50px" src="{{chatting.uid1Pic}}"/>
            </div>
            <div class="name">
              {{chatting.uid1}}
            </div>
            <div class="content">
              <ion-item (click)="openChat(chatting.uid1)">
                sample 내용
              </ion-item>
            </div>
        </div>
      -->
    </div>
</ion-content>
