<ion-header *ngIf="item">
  <ion-toolbar color ="medium">
      <ion-buttons slot="start">
          <ion-back-button text=""></ion-back-button>
        </ion-buttons>
    <ion-title>{{headert}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <ion-card-content *ngFor="let item of item">
      <ion-item lines="none">
          <img width="100%" height="200px" src="{{item.img}}"/>
      </ion-item>
      <br>
      <ion-item lines="none" >
              <table class="product_tabel" >
                <tr>
                    <td rowspan="2" width="20vh;" >
                      <ion-avatar>
                        <img id="writerimg" src=""/>
                      </ion-avatar>
                    </td>
                    <td>
                     {{item.sender}} 
                    </td>
                </tr>
                <tr> 
                  <td>
                   <h6> {{item.gu}} {{item.dong}} &nbsp;&nbsp;&nbsp;{{item.date}}</h6>  
                  </td> 
                 
                </tr>
               
              </table>
            
      </ion-item>
     <br>

  <!-- Disabled and readonly textarea in an item with a stacked label -->
      <ion-item lines="none">
        <ion-label position="stacked" lines="none" >
          <b>제보내용</b>
        </ion-label>
        <textarea rows = '7'  class="textbox" style="width: 35vh; height: 10vh;" 
          disabled
          readonly
          value="{{item.content}}">
        </textarea>
      </ion-item>
  </ion-card-content>
</ion-card>

<!--관리자이고 처리 전 제보일 때-->
<ion-card  *ngIf = "userauth == '관리자' && temp_complete == 0">
    <ion-item >
      <ion-label position="stacked" lines="none" >
        <b>답변</b>
      </ion-label>
        <ion-textarea rows ="6" [(ngModel)]="comment" clearOnEdit="true" placeholder="답변을 작성해 주세요" style="height:20vh;" ></ion-textarea>
      </ion-item>
     </ion-card>

<ion-card *ngIf = "temp_complete == 1">
  <ion-card-content>
    <ion-item>
      <ion-label position="stacked" lines="none" >
        <b>[답변]</b>
      </ion-label>
        <ion-textarea rows ="6" readonly = "true" [(ngModel)]="comment" clearOnEdit="true" style="height:20vh;" >
        
        </ion-textarea>
      </ion-item>
      </ion-card-content>
</ion-card>
</ion-content>
<ion-button *ngIf= "userauth == '관리자' && temp_complete == 0" (click)="done()"> 확인 완료 </ion-button>
<ion-button *ngIf= "userauth == '관리자' && temp_complete == 1" (click)="cancel()"> 확인 취소 </ion-button>
<ion-button *ngIf= "userauth == '일반사용자' && temp_complete == 0" (click)= "cancel2()" > 삭제 </ion-button>

