<ion-header>
  <ion-toolbar color ="medium">
    <ion-title>우리동네 동물병원</ion-title>
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-select placeholder="구 선택" [(ngModel)]="informGu" (ionChange)="showHospital()">
    <ion-select-option value="강남구">강남구</ion-select-option>
    <ion-select-option value="강동구">강동구</ion-select-option>
    <ion-select-option value="강북구">강북구</ion-select-option>
    <ion-select-option value="강서구">강서구</ion-select-option>
    <ion-select-option value="관악구">관악구</ion-select-option>
    <ion-select-option value="광진구">광진구</ion-select-option>
    <ion-select-option value="구로구">구로구</ion-select-option>
    <ion-select-option value="금천구">금천구</ion-select-option>
    <ion-select-option value="노원구">노원구</ion-select-option>
    <ion-select-option value="도봉구">도봉구</ion-select-option>
    <ion-select-option value="동대문구">동대문구</ion-select-option>
    <ion-select-option value="동작구">동작구</ion-select-option>
    <ion-select-option value="마포구">마포구</ion-select-option>
    <ion-select-option value="서대문구">서대문구</ion-select-option>
    <ion-select-option value="서초구">서초구</ion-select-option>
    <ion-select-option value="성동구">성동구</ion-select-option>
    <ion-select-option value="성북구">성북구</ion-select-option>
    <ion-select-option value="송파구">송파구</ion-select-option>
    <ion-select-option value="양천구">양천구</ion-select-option>
    <ion-select-option value="영등포구">영등포구</ion-select-option>
    <ion-select-option value="용산구">용산구</ion-select-option>
    <ion-select-option value="은평구">은평구</ion-select-option>
    <ion-select-option value="종로구">종로구</ion-select-option>
    <ion-select-option value="중구">중구</ion-select-option>
    <ion-select-option value="중랑구">중랑구</ion-select-option>
  </ion-select>
  <div id="map" style="height:60%;"></div>
  <ion-list>
    <ion-item *ngFor="let item of hospitalName">
      <table>
        <tr><b>{{item.name}}</b></tr>
        <tr>{{item.formatted_address}}</tr>
      </table>
    </ion-item>
  </ion-list>

</ion-content>
