<ion-header *ngIf="item">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
    <ion-title>{{headert}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-content *ngFor="let item of item">
      <ion-item>
          <img width="100%" height="200px" src="{{item.img}}"/>
      </ion-item>
      <ion-item >
          <ion-label position ="floating">
              <table>
                <tr>
                    <td>
                      <div>
                      <ion-avatar>
                        <img src="/assets/una.jpg"/>
                      </ion-avatar>
                      {{item.userid}}
                    </div>
                    </td>
                </tr>
                <tr>
                    <td><ion-button shape="round" fill="outline"(click)="gotoChat(item.userid)"><ion-icon name="contact"></ion-icon>{{item.userid}}</ion-button></td>
                </tr>
              </table>
              <br><br>
            </ion-label>
      </ion-item>

    <ion-item>
        <ion-label position ="floating">
            <b>{{item.title}}</b>
        </ion-label>
    </ion-item>
    <ion-item>
          <ion-label>
            {{item.content.substring(0,15)}}
          </ion-label>   
      </ion-item>
  </ion-card-content>
</ion-card>