<ion-header *ngIf="item">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
    <ion-title>{{item.category}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-item> -->
    <!-- <ion-label>       -->
      <img src="{{item.img}}"/>
    <!-- </ion-label> -->
  <!-- </ion-item> -->
  <br>
  <ion-item>
    <table>
      <tr>
         <td rowspan="2">
            <ion-avatar item-start>
                <img src="/assets/una.jpg"/>
            </ion-avatar>
         </td>
        <td>{{item.userid}}</td>
      </tr>
      <tr> 
        <td>사는곳</td>
      </tr>
    </table>
  </ion-item>
 <ion-button shape="round" fill="outline" (click)="gotoChat(item.userid)"><ion-icon name="contact"></ion-icon>{{item.userid}}</ion-button>
  <ion-item><b>{{item.title}}</b></ion-item>
  <ion-item>
      <ion-label position="floating">
      
      <!-- <ion-content
          [scrollEvents]="true"
          (ionScrollStart)="logScrollStart()"
          (ionScroll)="logScrolling($event)"
          (ionScrollEnd)="logScrollEnd()" class="content">
         우리 이쁜아이 데려가세요         우리 이쁜아이 데려가세요
         우리 이쁜아이 데려가세요
         우리 이쁜아이 데려가세요
         우리 이쁜아이 데려가세요
         우리 이쁜아이 데려가세요
         우리 이쁜아이 데려가세요
         우리 이쁜아이 데려가세요
         우리 이쁜아이 데려가세요
         우리 이쁜아이 데려가세요
         우리 이쁜아이 데려가세요
         우리 이쁜아이 데려가세요
         우리 이쁜아이 데려가세요

      </ion-content> -->
  </ion-label>   
  </ion-item>

</ion-content>
